@{
    ViewData["Title"] = "Machine Accessories";
}
<style>
    h2 {
        color: #ffffff;
        margin-top: 20px;
    }

    .table {
        max-width: 900px;
        margin: 20px auto;
    }

        .table th, .table td {
            vertical-align: middle;
        }
</style>
<h2 class="text-center mb-4">Machine Accessories</h2>

<table class="table table-bordered text-center text-light">
    <thead class="table-dark text-light">
        <tr>
            <th>S.N</th>
            <th>Machine Name</th>
            <th>Qty/Set</th>
        </tr>
    </thead>
    <tbody class="text-light">
        <tr>
            <td>01</td>
            <td>TOWIN SEQUINS EMBROIDERY MACHINE</td>
            <td>2 SET</td>
        </tr>
        <tr>
            <td>02</td>
            <td>CODING EMBROIDERY MACHINE</td>
            <td>2 SET</td>
        </tr>
        <tr>
            <td>03</td>
            <td>SINGLE SITE SEQUINS EMBROIDERY MACHINE</td>
            <td>4 SET</td>
        </tr>
       
        <tr>
            <td>04</td>
            <td>CHENILLE/AREE EMBROIDERY MACHINE</td>
            <td>06 SET</td>
        </tr>
        <tr>
            <td>05</td>
            <td>SAMPLE MACHINE SEQUINS & CHENILLE</td>
            <td>01 SET</td>
        </tr>
    </tbody>
</table>


